<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Gigflex Test for automation test suite">

	 <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
	<test name=" Gigflex Test Cases">
		<classes>
		
			<class name="com.gigflex.qa.testcases.LoginPageTest"></class>
			<!-- <class name="com.gigflex.qa.testcases.HomePageTest"></class> -->
			
		
			

		</classes>
	</test>
</suite>